Proyecto conjunto residencial/ProyectoConjunto/src/wsdl/localhost_1520/WS/ServiciosProy.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosproyecto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosproyecto/" name="ServiciosService">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosproyecto/" schemaLocation="http://localhost:1520/WS/ServiciosProy?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registrarResidente">
<part name="parameters" element="tns:registrarResidente"></part>
</message>
<message name="registrarResidenteResponse">
<part name="parameters" element="tns:registrarResidenteResponse"></part>
</message>
<message name="consultaResMoroso">
<part name="parameters" element="tns:consultaResMoroso"></part>
</message>
<message name="consultaResMorosoResponse">
<part name="parameters" element="tns:consultaResMorosoResponse"></part>
</message>
<message name="actualizarIntento">
<part name="parameters" element="tns:actualizarIntento"></part>
</message>
<message name="actualizarIntentoResponse">
<part name="parameters" element="tns:actualizarIntentoResponse"></part>
</message>
<message name="actualizarMascota">
<part name="parameters" element="tns:actualizarMascota"></part>
</message>
<message name="actualizarMascotaResponse">
<part name="parameters" element="tns:actualizarMascotaResponse"></part>
</message>
<message name="consultarVehiculos">
<part name="parameters" element="tns:consultarVehiculos"></part>
</message>
<message name="consultarVehiculosResponse">
<part name="parameters" element="tns:consultarVehiculosResponse"></part>
</message>
<message name="validarResidenteApto">
<part name="parameters" element="tns:validarResidenteApto"></part>
</message>
<message name="validarResidenteAptoResponse">
<part name="parameters" element="tns:validarResidenteAptoResponse"></part>
</message>
<message name="validarEstadoBloqueo">
<part name="parameters" element="tns:validarEstadoBloqueo"></part>
</message>
<message name="validarEstadoBloqueoResponse">
<part name="parameters" element="tns:validarEstadoBloqueoResponse"></part>
</message>
<message name="consultarMascotas">
<part name="parameters" element="tns:consultarMascotas"></part>
</message>
<message name="consultarMascotasResponse">
<part name="parameters" element="tns:consultarMascotasResponse"></part>
</message>
<message name="actualizarResidente">
<part name="parameters" element="tns:actualizarResidente"></part>
</message>
<message name="actualizarResidenteResponse">
<part name="parameters" element="tns:actualizarResidenteResponse"></part>
</message>
<message name="validarParqueadero">
<part name="parameters" element="tns:validarParqueadero"></part>
</message>
<message name="validarParqueaderoResponse">
<part name="parameters" element="tns:validarParqueaderoResponse"></part>
</message>
<message name="eliminarVehiculos">
<part name="parameters" element="tns:eliminarVehiculos"></part>
</message>
<message name="eliminarVehiculosResponse">
<part name="parameters" element="tns:eliminarVehiculosResponse"></part>
</message>
<message name="consultarResidente">
<part name="parameters" element="tns:consultarResidente"></part>
</message>
<message name="consultarResidenteResponse">
<part name="parameters" element="tns:consultarResidenteResponse"></part>
</message>
<message name="actualizarVehiculo">
<part name="parameters" element="tns:actualizarVehiculo"></part>
</message>
<message name="actualizarVehiculoResponse">
<part name="parameters" element="tns:actualizarVehiculoResponse"></part>
</message>
<message name="eliminarResidente">
<part name="parameters" element="tns:eliminarResidente"></part>
</message>
<message name="eliminarResidenteResponse">
<part name="parameters" element="tns:eliminarResidenteResponse"></part>
</message>
<message name="validarResidente">
<part name="parameters" element="tns:validarResidente"></part>
</message>
<message name="validarResidenteResponse">
<part name="parameters" element="tns:validarResidenteResponse"></part>
</message>
<message name="actualizarEstado">
<part name="parameters" element="tns:actualizarEstado"></part>
</message>
<message name="actualizarEstadoResponse">
<part name="parameters" element="tns:actualizarEstadoResponse"></part>
</message>
<message name="agregarMascota">
<part name="parameters" element="tns:agregarMascota"></part>
</message>
<message name="agregarMascotaResponse">
<part name="parameters" element="tns:agregarMascotaResponse"></part>
</message>
<message name="validarMascotas">
<part name="parameters" element="tns:validarMascotas"></part>
</message>
<message name="validarMascotasResponse">
<part name="parameters" element="tns:validarMascotasResponse"></part>
</message>
<message name="validarAdmon">
<part name="parameters" element="tns:validarAdmon"></part>
</message>
<message name="validarAdmonResponse">
<part name="parameters" element="tns:validarAdmonResponse"></part>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"></part>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"></part>
</message>
<message name="validarVehiculo">
<part name="parameters" element="tns:validarVehiculo"></part>
</message>
<message name="validarVehiculoResponse">
<part name="parameters" element="tns:validarVehiculoResponse"></part>
</message>
<message name="agregarVehiculo">
<part name="parameters" element="tns:agregarVehiculo"></part>
</message>
<message name="agregarVehiculoResponse">
<part name="parameters" element="tns:agregarVehiculoResponse"></part>
</message>
<message name="consultarIntento">
<part name="parameters" element="tns:consultarIntento"></part>
</message>
<message name="consultarIntentoResponse">
<part name="parameters" element="tns:consultarIntentoResponse"></part>
</message>
<message name="eliminarMascota">
<part name="parameters" element="tns:eliminarMascota"></part>
</message>
<message name="eliminarMascotaResponse">
<part name="parameters" element="tns:eliminarMascotaResponse"></part>
</message>
<message name="cambiarClave">
<part name="parameters" element="tns:cambiarClave"></part>
</message>
<message name="cambiarClaveResponse">
<part name="parameters" element="tns:cambiarClaveResponse"></part>
</message>
<portType name="IServicios">
<operation name="registrarResidente">
<input wsam:Action="http://serviciosproyecto/IServicios/registrarResidenteRequest" message="tns:registrarResidente"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/registrarResidenteResponse" message="tns:registrarResidenteResponse"></output>
</operation>
<operation name="consultaResMoroso">
<input wsam:Action="http://serviciosproyecto/IServicios/consultaResMorosoRequest" message="tns:consultaResMoroso"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/consultaResMorosoResponse" message="tns:consultaResMorosoResponse"></output>
</operation>
<operation name="actualizarIntento">
<input wsam:Action="http://serviciosproyecto/IServicios/actualizarIntentoRequest" message="tns:actualizarIntento"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/actualizarIntentoResponse" message="tns:actualizarIntentoResponse"></output>
</operation>
<operation name="actualizarMascota">
<input wsam:Action="http://serviciosproyecto/IServicios/actualizarMascotaRequest" message="tns:actualizarMascota"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/actualizarMascotaResponse" message="tns:actualizarMascotaResponse"></output>
</operation>
<operation name="consultarVehiculos">
<input wsam:Action="http://serviciosproyecto/IServicios/consultarVehiculosRequest" message="tns:consultarVehiculos"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/consultarVehiculosResponse" message="tns:consultarVehiculosResponse"></output>
</operation>
<operation name="validarResidenteApto">
<input wsam:Action="http://serviciosproyecto/IServicios/validarResidenteAptoRequest" message="tns:validarResidenteApto"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarResidenteAptoResponse" message="tns:validarResidenteAptoResponse"></output>
</operation>
<operation name="validarEstadoBloqueo">
<input wsam:Action="http://serviciosproyecto/IServicios/validarEstadoBloqueoRequest" message="tns:validarEstadoBloqueo"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarEstadoBloqueoResponse" message="tns:validarEstadoBloqueoResponse"></output>
</operation>
<operation name="consultarMascotas">
<input wsam:Action="http://serviciosproyecto/IServicios/consultarMascotasRequest" message="tns:consultarMascotas"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/consultarMascotasResponse" message="tns:consultarMascotasResponse"></output>
</operation>
<operation name="actualizarResidente">
<input wsam:Action="http://serviciosproyecto/IServicios/actualizarResidenteRequest" message="tns:actualizarResidente"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/actualizarResidenteResponse" message="tns:actualizarResidenteResponse"></output>
</operation>
<operation name="validarParqueadero">
<input wsam:Action="http://serviciosproyecto/IServicios/validarParqueaderoRequest" message="tns:validarParqueadero"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarParqueaderoResponse" message="tns:validarParqueaderoResponse"></output>
</operation>
<operation name="eliminarVehiculos">
<input wsam:Action="http://serviciosproyecto/IServicios/eliminarVehiculosRequest" message="tns:eliminarVehiculos"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/eliminarVehiculosResponse" message="tns:eliminarVehiculosResponse"></output>
</operation>
<operation name="consultarResidente">
<input wsam:Action="http://serviciosproyecto/IServicios/consultarResidenteRequest" message="tns:consultarResidente"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/consultarResidenteResponse" message="tns:consultarResidenteResponse"></output>
</operation>
<operation name="actualizarVehiculo">
<input wsam:Action="http://serviciosproyecto/IServicios/actualizarVehiculoRequest" message="tns:actualizarVehiculo"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/actualizarVehiculoResponse" message="tns:actualizarVehiculoResponse"></output>
</operation>
<operation name="eliminarResidente">
<input wsam:Action="http://serviciosproyecto/IServicios/eliminarResidenteRequest" message="tns:eliminarResidente"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/eliminarResidenteResponse" message="tns:eliminarResidenteResponse"></output>
</operation>
<operation name="validarResidente">
<input wsam:Action="http://serviciosproyecto/IServicios/validarResidenteRequest" message="tns:validarResidente"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarResidenteResponse" message="tns:validarResidenteResponse"></output>
</operation>
<operation name="actualizarEstado">
<input wsam:Action="http://serviciosproyecto/IServicios/actualizarEstadoRequest" message="tns:actualizarEstado"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/actualizarEstadoResponse" message="tns:actualizarEstadoResponse"></output>
</operation>
<operation name="agregarMascota">
<input wsam:Action="http://serviciosproyecto/IServicios/agregarMascotaRequest" message="tns:agregarMascota"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/agregarMascotaResponse" message="tns:agregarMascotaResponse"></output>
</operation>
<operation name="validarMascotas">
<input wsam:Action="http://serviciosproyecto/IServicios/validarMascotasRequest" message="tns:validarMascotas"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarMascotasResponse" message="tns:validarMascotasResponse"></output>
</operation>
<operation name="validarAdmon">
<input wsam:Action="http://serviciosproyecto/IServicios/validarAdmonRequest" message="tns:validarAdmon"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarAdmonResponse" message="tns:validarAdmonResponse"></output>
</operation>
<operation name="Login">
<input wsam:Action="http://serviciosproyecto/IServicios/LoginRequest" message="tns:Login"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/LoginResponse" message="tns:LoginResponse"></output>
</operation>
<operation name="validarVehiculo">
<input wsam:Action="http://serviciosproyecto/IServicios/validarVehiculoRequest" message="tns:validarVehiculo"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/validarVehiculoResponse" message="tns:validarVehiculoResponse"></output>
</operation>
<operation name="agregarVehiculo">
<input wsam:Action="http://serviciosproyecto/IServicios/agregarVehiculoRequest" message="tns:agregarVehiculo"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/agregarVehiculoResponse" message="tns:agregarVehiculoResponse"></output>
</operation>
<operation name="consultarIntento">
<input wsam:Action="http://serviciosproyecto/IServicios/consultarIntentoRequest" message="tns:consultarIntento"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/consultarIntentoResponse" message="tns:consultarIntentoResponse"></output>
</operation>
<operation name="eliminarMascota">
<input wsam:Action="http://serviciosproyecto/IServicios/eliminarMascotaRequest" message="tns:eliminarMascota"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/eliminarMascotaResponse" message="tns:eliminarMascotaResponse"></output>
</operation>
<operation name="cambiarClave">
<input wsam:Action="http://serviciosproyecto/IServicios/cambiarClaveRequest" message="tns:cambiarClave"></input>
<output wsam:Action="http://serviciosproyecto/IServicios/cambiarClaveResponse" message="tns:cambiarClaveResponse"></output>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:IServicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registrarResidente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultaResMoroso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarIntento">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarMascota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarVehiculos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarResidenteApto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarEstadoBloqueo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarMascotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarResidente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarParqueadero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eliminarVehiculos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarResidente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarVehiculo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eliminarResidente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarResidente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actualizarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarMascota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarMascotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarAdmon">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarVehiculo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarVehiculo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarIntento">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eliminarMascota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cambiarClave">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServiciosService">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:1520/WS/ServiciosProy"></soap:address>
</port>
</service>
</definitions>